doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Jquery
body
  each post in array
    h1= post.Title
    p= post.Content
    p= post.Author
